IndentWidth: 4
IndentCaseLabels: true
SpaceAfterCStyleCast: true
PointerAlignment: Left
QualifierAlignment: Right
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
InsertBraces: true
IncludeBlocks: Regroup
AlignOperands: AlignAfterOperator
